{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@components": "./src/components",
                    "@styles": "./src/styles",
                    "@hooks": "./src/hooks",
                    "@pages": "./src/pages",
                    "@config": "./src/config",
                    "@resources": "./src/resources",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}